/* Criando uma grade responsiva */
.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente na página */
  align-items: center;/* Centraliza verticalmente na página*/
  padding: 20px;
  width: 40vw;
  position: relative;
}

.grid-row{
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centraliza horizontalmente na página */
  align-items: center;/* Centraliza verticalmente na página*/ 
}


/* Estilo das divs internas */
.grid-item {
  position: relative;
  color: #000000;
  padding: 20px;
  border-radius: 15%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1; /* Define o índice z para manter a ordem */
}

/* Ao passar o mouse, expande 20% */
.grid-item:hover {
  transform: scale(1.2); /* Expande a div */
  z-index: 10; /* Eleva a camada da div quando expandida */
  background-color: #43A047; /* Muda de cor suavemente */

}

/* Texto oculto inicialmente */
.hidden-text {
  display: none;
  text-align: center; /* Centraliza o texto horizontalmente */

}

/* Mostrar o texto oculto ao passar o cursor */
.grid-item:hover .hidden-text {
  display: block;
  position: absolute; /* Tira a div do fluxo normal */
  margin-top: 0px;
  font-size: 14px;
  text-align: center; /* Certifica que o texto está alinhado ao centro */
}

.grid-item div{
  display: flex;
  justify-content: center;
}

.imagem{
  height: 100px;
}