.new-section {
    display: flex;
    flex-direction: column; /* Alinha os filhos em uma coluna */
    width: 100vw;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    background-color: #F0F0F0;
    padding-top: 70px;
}