body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video {
  width: 100%; /* Faz o vídeo ocupar 100% da largura*/
  height: auto; /* Mantém a proporção do vídeo */
}

.content {
  position: relative;
  z-index: 1; /* Para garantir que fique acima do vídeo */
  padding: 20px;
  background: rgba(255, 255, 255);
  max-width: 800px;
  margin: 0 auto;
}

.container {
  display: flex; /* Ativa o Flexbox */
  height: 100vh;
}

.box1 {
  background-color: black; /* Cor de fundo para Div 1 */
  width: 30%; /* Largura da box1 */
  display: flex; /* Ativa o Flexbox para box1 */
  align-items: center; /* Centraliza verticalmente */
}

.box2 {
  background-color:aliceblue; /* Cor de fundo para Div 3 */
  width: 40%;
}

.fotos{
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza as imagens horizontalmente */
}

.foto{
  width: 40%;
  height: auto;
}

.pergunta{
  display: flex; /* Ativa o Flexbox para box1 */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */ 
}

.imagem{
  width: 80%;
  height: auto;
}

.espaco{
  width: 5%;
}